$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f2f2f2;
$color-grey-light-2: #cdcbcb;

$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

//text colors
$color-black: #000;
$color-grey: #777;
$color-light: #fff;

//fonts
$root-font-size: 62.5%;
$line-height: 1.7;
$default-fontSize: 1.5rem;
$primary-heading-fontSize: 6rem;
$secondary-heading-fontSize: 3rem;
$tertiary-heading-fontSize: 6rem;

//grid
$grid-container-padding: 10rem;
$grid-width: 114rem;
$grid-vertical-gutter: 8rem;
$grid-horizontal-gutter: 5rem;

//margins
$default-section-margin-top: -10rem;

//shadows
$shadow-one: 0 1.5rem 4rem rgba($color-black, 0.15);
$shadow-two: 0 2.5rem 4rem rgba($color-black, 0.6);

//iem = 16px
//responsive breakpoints
$respond-phone-small: 20em; //320
$respond-phone: 37.5em; //600
$respond-tablet: 56.25em; //900
$respond-desktop: 75em; //1200
$respond-big-desktop: 112.5em; //1800

//responsive breakpoint names
$phone-small: phone-small;
$phone: phone;
$tablet: tablet;
$desktop: desktop;
$big-desktop: big-desktop;
