$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-light-1: #f2f2f2;
//text colors
$color-black: #000;
$color-grey: #777;
$color-light: #fff;

//fonts
$root-font-size: 62.5%;
$line-height: 1.7;
$default-fontSize: 1.6rem;

//grid
$grid-container-padding: 10rem;
$grid-width: 114rem;
$grid-vertical-gutter: 8rem;
$grid-horizontal-gutter: 6rem;
