//abstracts
@import 'abstracts/function';
@import 'abstracts/mixins';
@import 'abstracts/variables';

//base
@import 'base/base';
@import 'base/utilities';
@import 'base/typography';
@import 'base/animations';

//components
@import 'components/btn';
@import 'components/composition';
@import 'components/feature-box';
@import 'components/card';
@import 'components/story';
@import 'components/video';
@import 'components/form';
@import 'components/navigation';

//layout
@import 'layouts/grid';
@import 'layouts/header';
@import 'layouts/footer';

//pages
@import 'pages/home';
