//abstracts
@import 'abstracts/function';
@import 'abstracts/mixins';
@import 'abstracts/variables';

//base
@import 'base/base';
@import 'base/utilities';
@import 'base/typography';
@import 'base/animations';

//components
@import 'components/btn';
@import 'components/composition';

//layout
@import 'layouts/grid';
@import 'layouts/header';

//pages
@import 'pages/home';
