.btn {
  border-radius: 2rem;
  transition: all 0.2s;

  &,
  &:link,
  &:visited {
    text-decoration: none;
    padding: 1rem 2rem;
    display: inline-block;
    position: relative;
    font-size: 1.6rem;
    transition: all 0.5 ease-out;

    border: none;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }
  &:focus,
  &:active {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 5 rgba($color-black, 0.2);
}

  &--white {
    color: $color-grey;
    background-color: $color-light;

    &::after {
      background-color: $color-light;
    }

    &:hover::after {
      transform: scaleX(1.5) scaleY(1.7);
      opacity: 0;
    }
  }

  &--green {
    color: $color-light;
    background-color: $color-primary;

    &::after {
      background-color: $color-primary;
    }

    &:hover::after {
      transform: scaleX(1.5) scaleY(1.7);
      opacity: 0;
    }
  }

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    transition: all 0.5s ease-out;
  }

  &--animate {
    animation: moveToDown 0.5s ease-out 0.5s;
    -webkit-animation: moveToDown 0.5s ease-out 0.5s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    display: inline-block;
    color: $color-primary;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    font-size: $default-fontSize;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-light;
    box-shadow: $shadow-one;
    transform: translateY(-2rem);
    -webkit-transform: translateY(-2rem);
    -moz-transform: translateY(-2rem);
    -ms-transform: translateY(-2rem);
    -o-transform: translateY(-2rem);
  }

  &:active {
    box-shadow: $shadow-two;
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
  }
}
