.form {
  padding: 3rem 6rem 3rem 6rem;
  width: 50%;

  &__group {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__input {
    padding: 1.5rem 2rem;
    font-size: $default-fontSize;
    border-radius: 2px;
    background-color: rgba($color: $color-light, $alpha: 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    display: block;
    width: 90%;
    transition: all 0.3s ease;

    &:focus {
      outline: none;
      border-bottom: 3px solid $color-primary-dark;
      box-shadow: 0 1rem 2rem rgba($color: $color-black, $alpha: 0.2);
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }
  }

  &__label {
    margin: 1rem 0rem 0rem 2rem;
    font-size: 1.2rem;
    font-weight: 700;

    transition: all 0.2s ease;
    display: inherit;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: visible;
    transform: translateY(-4rem);
  }

  &__invalid-feedback {
    display: none;
    color: $color-secondary-dark;
    margin: 1rem 0rem 0rem 2rem;
    font-size: 1.2rem;
    font-weight: 700;
  }

  &__input:not(:placeholder-shown):not(:focus):invalid ~ &__invalid-feedback {
    display: inline-block;
  }

  &__input:not(:placeholder-shown):not(:focus):invalid + &__label {
    display: none;
  }

  //RADIO BUTTONS
  &__radio {
    &-input {
      display: none;
    }

    &-input:checked + &-label &-major::after {
      opacity: 1;
    }

    &-group {
      display: inline-block;
      width: 49%;
    }
    &-label {
      position: relative;
      padding-left: 3rem;
      font-size: $default-fontSize;
    }

    &-major {
      display: inline-block;
      width: 3rem;
      height: 3rem;
      border: 3px solid $color-primary;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 1rem;
      transform: translate(-50%, -50%);
      transition: opacity 0.3s ease;

      &::after {
        content: '';
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $color-primary;
        opacity: 0;
      }
    }
  }
}
