.navigation {
  &__button {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    background-color: $color-light;
    display: block;
    z-index: 1000;
    text-align: center;
    box-shadow: $shadow-two;
  }

  &__background {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-image: radial-gradient($color-primary-light, $color-primary-dark);
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    z-index: 100;
    transition: all 0.5s ease;
  }

  &__checkbox {
    display: none;
  }

  &__label {
    position: absolute;
    @include centerBlock;
  }

  &__box {
    position: fixed;
    height: 100vh;
    //width: 100vw;
    z-index: 150;
    top: 0;
    right: 0;
    width: 0;
    opacity: 0;
    transition: all 0.4s ease;
  }

  &__list {
    list-style: none;
    position: absolute;
    @include centerBlock;
    text-align: center;
  }

  &__item {
    margin: 1.5rem;
  }

  &__checkbox:checked ~ &__background {
    transform: scale(100);
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      font-size: 2rem;
      text-transform: uppercase;
      color: $color-light;
      font-weight: 300;
      padding: 1rem 2rem;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-light 50%);
      background-size: 230%;

      transition: all 0.5s ease;
      display: inline-block;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
    }
  }

  &__checkbox:checked ~ &__box {
    width: 100vw;
    opacity: 1;
  }

  &__icon {
    position: relative;
    display: inline-block;
    margin-top: 3.5rem;

    &,
    &::before,
    &::after {
      content: "";
      width: 3rem;
      height: 2px;
      background-color: $color-grey-dark-3;
      transition: all 0.2s;
    }

    &::before,
    &::after {
      position: absolute;
      display: block;
    }

    &::before {
      top: 0.8rem;
    }

    &::after {
      top: -0.8rem;
    }
  }

  &__checkbox:checked ~ &__button &__icon::before {
    transform: rotate(-135deg);
    top: 0;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
  }

  &__checkbox:checked ~ &__button &__icon::after {
    transform: rotate(135deg);
    top: 0;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
  }

  &__checkbox:checked ~ &__button &__icon {
    background-color: transparent;
  }

  &__button:hover &__icon::before {
    top: 1rem;
  }
  &__button:hover &__icon::after {
    top: -1rem;
  }
}
