body {
  font-family: Lato, sans-serif;
  color: $color-grey;
  line-height: $line-height;
  padding: 3rem;
}

.header-primary {
  letter-spacing: 3.5rem;
  font-weight: bold;
  color: $color-light;
  text-transform: uppercase;
  margin: 4rem 4rem;

  &-main {
    font-size: $primary-heading-fontSize;
    font-weight: 400;
    display: block;
    -webkit-animation: moveToLeft 1s ease-out;
    animation: moveToLeft 1s ease-out;
  }

  &-sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.7rem;
    font-weight: 700;

    animation: moveToRight 1s ease-out;
    -webkit-animation: moveToRight 1s ease-out;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
}

.header-secondary {
  font-size: $secondary-heading-fontSize;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s ease-in;
  letter-spacing: 2px;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.2rem 1rem 3rem rgba($color-black, 0.8);
  }
}

.header-tertiary {
  font-size: $default-fontSize;
  text-transform: uppercase;
  font-weight: 700;
}

.paragraph {
  font-size: $default-fontSize;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
